*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild/
.cxx/
local.properties

# Android Studio
*.hprof
.navigation/

# Gradle wrapper jar is fine to keep tracked; only ignore build output
**/build/
!gradle/wrapper/gradle-wrapper.jar
